* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.task-input input {
    width: 70%;
    padding: 10px;
    border: 1px solid lightpink;
    border-radius: 5px;
}

.task-input button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.task-input button:hover {
    background-color: #218838;
}

.boards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.board {
    width: 30%;
    background-color: white;
    padding: 20px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;

}

.task {
    background-color: hotpink;
    padding: 10px;
    margin: 10px 0;
    cursor: grab;
    border-radius: 5px;
    text-align: center;
}

.task:active {
    cursor: grabbing;
background-color: hotpink;
}

.delete-btn {
    margin-left: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.delete-btn:hover {
    background: darkred;
}
.TEAM-MEMBERS {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
